<article>

  <section id="intro">
    <h1 align='center'>Mole Valley Fungi</h1>

    <p>
      The good, the bad and the beautiful! Here are five examples of fungi that are
      typical of habitats in Mole Valley. They have been
      selected to provide a variety of forms, and times of occurrence.
      (Text and photographs by Ray Tantram &copy 9th. March 2005)
    </p>
  </section>

<table cellpadding= 10px>
    <tr>
      <td><%= image_tag "fungi/Bole_edul002.jpg", :class => 'fungi', :alt => "Penny Bun fungus", :hieght=> '150', :width=>'200' %></td>
	<td><strong>Penny Bun <em>Boletus edulis</em></strong><br/><br/>
      A prized edible species, found in broadleaved and mixed woodland. Forms
      (mycorrhizal) association with the tree roots.
      One of the <q>sponge caps</q> with pores in place of gills on its lower surface.</td></tr>
    

     <tr> <td><%= image_tag "fungi/Death-Cap.jpg", :class => 'fungi', :alt => "Death Cap fungus" , :hieght=> '150', :width=>'200'%></td>
	<td><strong>Death Cap<em>Amanita phalloides</em></strong><br/><br/>
      Highly toxic, a quarter of a cap kills very unpleasantly &#8211 but not slugs!
      Most of the Amanita family are poisonous.
      Learn to recognise these fungi if you collect for the table.
      Found under oak, with which it forms a (mycorrhizal) association.</td></tr>
   
  
      <tr><td><%= image_tag "fungi/Laetip_012.jpg", :class => 'fungi', :alt => "Sulphur Polypore fungus", :hieght=> '150', :width=>'200' %></td>
	  <td><strong>Sulphur Polypore; Chicken of the Woods <em>Laetiporus sulphureus</em></strong><br/><br/>
      Brilliant yellow, with salmon-orange tones.Grows on trunks of living trees,
      mainly oak and chestnut, and also even on Yew*, causing heart rots.
      Edible, and prized in USA, but can cause gastro-intestinal upsets. <br/>
      [* <em>do not eat any picked from this toxic tree!</em>]</td></tr>
  

 
      <tr><td><%= image_tag "fungi/ElfcapAsh02.jpg", :class => 'fungi', :alt => "Scarlet Elfcap fungus", :hieght=> '150', :width=>'200' %></td>
	 <td><strong>Scarlet elfcup <em>Sarcosypha austriaca</em></strong><br/><br/>
      This bright cup fungus (ascomycete) is occasionally found in Mole valley,
      very early in the year, growing on old mossy fallen trunks in
      woodland, especially on hazel and elm. The cups are 1-5 cm. across.</td></tr>
   

      <tr><td><%= image_tag "fungi/Verpcon04.jpg", :class => 'fungi', :alt => "Thimble Morel fungus", :hieght=> '150', :width=>'200' %></td>
	  <td><strong>Thimble Morel <em>Verpa conica</em></strong><br/><br/>
      Quite rare and confined to <q>hawthorn scrub on chalk</q>. There is much of this
      in Mole Valley, and 2004 was a good year for this small and
      elusive spring species. An ascomycete with a hollow stem.</td></tr>
</table>
   
</article>